.react-tags {
    background-color: #fff;
    position: relative;
    padding: 6px 0 0 6px;
    border: 1px solid #d1d1d1;
    border-radius: 1px;
    font-size: 1em;
    line-height: 1.2;
    cursor: text;
    width: 90%;
  }
  
  .react-tags.is-focused {
    border-color: #b1b1b1;
  }
  
  .react-tags__selected {
    display: inline;
  }
  
  .react-tags__selected-tag {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 6px 6px 0;
    padding: 6px 8px;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    background: #f1f1f1;
  
    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
  }
  
  .react-tags__selected-tag:after {
    content: '\2715';
    color: #aaa;
    margin-left: 8px;
  }
  
  .react-tags__selected-tag:hover,
  .react-tags__selected-tag:focus {
    border-color: #b1b1b1;
  }
  
  .react-tags__search {
    display: inline-block;
  
    /* match tag layout */
    padding: 7px 2px;
    margin-bottom: 6px;
  
    /* prevent autoresize overflowing the container */
    max-width: 100%;
    z-index: 1000;
  }
  
  @media screen and (min-width: 30em) {
    .react-tags__search {
      /* this will become the offsetParent for suggestions */
      position: relative;
    }
  }
  
  .react-tags__search-input {
    /* prevent autoresize overflowing the container */
    max-width: 100%;
  
    /* remove styles and layout from this element */
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
  
    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
  }
  
  .react-tags__search-input::-ms-clear {
    display: none;
  }
  
  .react-tags__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  
  @media screen and (min-width: 30em) {
    .react-tags__suggestions {
      width: 240px;
    }
  }
  
  .react-tags__suggestions ul {
    margin: 4px -1px;
    padding: 0;
    list-style: none;
    background: white;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  .react-tags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 6px 8px;
  }
  
  .react-tags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
  }
  
  .react-tags__suggestions li:hover {
    cursor: pointer;
    background: #eee;
  }
  
  .react-tags__suggestions li.is-active {
    background: #b7cfe0;
  }
  
  .react-tags__suggestions li.is-disabled {
    opacity: 0.5;
    cursor: auto;
  }

  .react-tags__label {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.react-tags__list {
  display: inline;
  padding: 0;
}

.react-tags__combobox {
  display: inline-block;
  padding: .375rem .25rem;
  margin-bottom: .25rem;
  max-width: 100%;
}

.react-tags__list-item {
  display: inline;
  list-style: none;
}

.react-tags__combobox-input {
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: none;
  font-size: inherit;
  line-height: inherit;
}

.react-tags__tag:hover {
  color: #fff;
  background-color: #4f46e5;
}

.react-tags__tag {
  margin: 0 .25rem .25rem 0;
  padding: .375rem .5rem;
  border: 0;
  border-radius: 3px;
  background: #eaeef2;
  font-size: inherit;
  line-height: inherit;
}

.react-tags__tag:after {
  content: "";
  display: inline-block;
  width: .65rem;
  height: .65rem;
  clip-path: polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
  margin-left: .5rem;
  font-size: .875rem;
  background-color: #7c7d86;
}

.react-tags__combobox-input {
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: none;
  font-size: inherit;
  line-height: inherit;
}

input[type="text" i] {
  padding-block: 1px;
  padding-inline: 2px;
}

.react-tags__listbox {
  position: absolute;
  z-index: 1;
  top: calc(100% + 5px);
  left: -2px;
  right: -2px;
  max-height: 12.5rem;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #afb8c1;
  border-radius: 6px;
  box-shadow: #0000001a 0 10px 15px -4px,#0000000d 0 4px 6px -2px
}

.react-tags__listbox-option {
  padding: .375rem .5rem
}

.react-tags__listbox-option:hover {
  cursor: pointer;
  background: #eaeef2
}

.react-tags__listbox-option:not([aria-disabled=true]).is-active {
  background: #4f46e5;
  color: #fff
}

.react-tags__listbox-option[aria-disabled=true] {
  color: #7c7d86;
  cursor: not-allowed;
  pointer-events: none
}

.react-tags__listbox-option[aria-selected=true]:after {
  content: "✓";
  margin-left: .5rem
}

.react-tags__listbox-option[aria-selected=true]:not(.is-active):after {
  color: #4f46e5
}

.react-tags__listbox-option-highlight {
  background-color: #fd0
}