.login{
    width: 100%;
    height: 100vh;
    background-color: #dcdcdc;
}

.login-area{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}

.login-area .input-main-area{
    margin-bottom: 13%;
}

.login-area button{
    width: 40%;
}

.login-button-area{
    text-align: center;
    margin-top: 9%;
}

.login-title-area{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10%;
}