.masteredit {
    height: 100%;
}

.masteredit-header-area {
    height: 7%;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.masteredit-main-area {
    height: 78%;
}

.masteredit-footer-area {
    height: 15%;
}

.masteredit-input-main-area {
    overflow: auto;
    height: 95%;
    margin-left: 15%;
}