.taskedit {
    height: 100%;
}

.taskedit-header-area {
    height: 10%;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.taskedit-main-area {
    min-height: 90%;
    height: auto;
    overflow-y: auto;
}

.taskedit-footer-area {
    height: 15%;
}

.taskedit-input-main-area {
    overflow: auto;
    height: 90%;
    margin-left: 15%;
}

.taskedit-content-area {
    height: 85%
}